<footer>
    <div class="container py-5">
<div class="row g-3">
    <div class="col-md-4">
      <div class="text-center">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <h3 class="text-center">AROUND THE WEB</h3>
       <div class="social-medid  ">
        <div class="icon mx-1">
            <i class="fa fa-facebook"></i>
        </div>
        <div class="icon mx-1">
            <i class="fa fa-twitter"></i>
        </div>
        <div class="icon mx-1">
            <i class="fa fa-linkedin"></i>
        </div>
        <div class="icon mx-1">
            <i class="fa fa-instagram"></i>
        </div>
       </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h3 class="text-center">ABOUT FREELANCER</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      
      </div>
    </div>
</div>
    </div>

</footer>

<div class="footerend py-4 text-center text-white">
    <p>Copyright © Your Website 2021</p>
</div>