#about{
    background-color: #1abc9c;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.one,.two{
    width: 90px;
    height: 4px;
    background-color: white;
}
.bodycontent{

margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

