<section id="test">

    <div class="bodycontent ">
        <h1 class="text-center fw-bold">PORTFOLIO COMPONENT</h1>
      <div class="loggo mx-auto">
        <div class="one"></div>
        <i class="fa fa-star mx-3 "></i>
        <div class="two"></div>
      </div>
    </div>
</section>

<section>
 <div class="w-50 mx-auto py-5 ">
    <form >
        <div class="">
            <input class="mb-5 form-control border-top-0 border-start-0 border-end-0 focus-0" type="text" placeholder="username" >
        </div>
        <div class="">
            <input class="mb-5 form-control border-top-0 border-start-0 border-end-0 focus-0" type="text" placeholder="userage" >
        </div>
        <div class="">
            <input class="mb-5 form-control border-top-0 border-start-0 border-end-0 focus-0" type="text" placeholder="useremail" >
        </div>
        <div class="">
           
            <input class="form-control border-top-0 border-start-0 border-end-0 focus-0" type="text" placeholder="userpassword" >
            <a class="btn send" href="#">send Message</a>
        </div>
     
        
        
            </form>

 </div>
</section>
