<section id="test">

    <div class="bodycontent ">
        <h1 class="text-center fw-bold">PORTFOLIO COMPONENT</h1>
      <div class="loggo mx-auto">
        <div class="one"></div>
        <i class="fa fa-star mx-3 "></i>
        <div class="two"></div>
      </div>
    </div>
</section>

<section id="portfolio" class="py-3">
<div class="container">
    <div class="row g-3">
        <div class="col-md-4">
     <div class="item">
        <img class="w-100" src="./assets/port/1.png" alt="">
        <div class="inner">
            <i class="fa fa-plus fa-3x text-white"></i>
        </div>
     </div>
        </div>
        <div class="col-md-4">
     <div class="item">
        <img class="w-100" src="./assets/port/2.png" alt="">
        <div class="inner">
            <i class="fa fa-plus fa-3x text-white"></i>
        </div>
     </div>
        </div>
        <div class="col-md-4">
     <div class="item">
        <img class="w-100" src="./assets/port/3.png" alt="">
        <div class="inner">
            <i class="fa fa-plus fa-3x text-white"></i>
        </div>
     </div>
        </div>
        <div class="col-md-4">
     <div class="item">
        <img class="w-100" src="./assets/port/1.png" alt="">
        <div class="inner">
            <i class="fa fa-plus fa-3x text-white"></i>
        </div>
     </div>
        </div>
        <div class="col-md-4">
     <div class="item">
        <img class="w-100" src="./assets/port/2.png" alt="">
        <div class="inner">
            <i class="fa fa-plus fa-3x text-white"></i>
        </div>
     </div>
        </div>
        <div class="col-md-4">
     <div class="item">
        <img class="w-100" src="./assets/port/3.png" alt="">
        <div class="inner">
            <i class="fa fa-plus fa-3x text-white"></i>
        </div>
     </div>
        </div>
    </div>
</div>

</section>