<section id="home">
<div class="homecontent text-center ">
    <img  class="mt-5 w-50" src="./assets/img/avataaars.svg" alt="">
    <h1 class="py-3 text-white fw-bold text-center">START FRAMEWORK</h1>
    <div class="bodycontent">
        <div class="one"></div>
        <i class="fa fa-star text-white"></i>
        <div class="two"></div>
    </div>
    <div class="homefotter">
        <p class="text-center text-white py-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>
</section>
